<div class="h-feed flex flex-col gap-8">
  {{ range . }}
    <article class="h-entry group relative">
      <h3
        class="pb-2 text-xl font-bold text-pink-700 group-hocus:text-pink-600 dark:text-pink-300 group-hocus:dark:text-pink-400 md:text-2xl lg:pb-4 lg:text-3xl"
      >
        <div
          class="absolute -inset-4 z-0 bg-white/90 opacity-0 ring-1 ring-stone-900/5 group-hocus-within:opacity-100 dark:bg-stone-800/50 dark:ring-white/10 sm:-inset-x-6 sm:rounded-2xl"
        ></div>
        <a href="{{ .RelPermalink }}" class="p-name u-url u-uid block">
          <span class="absolute -inset-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
          <span class="relative z-10">{{ .Title | markdownify }}</span>
        </a>
      </h3>
      <footer class="relative">
        {{ partial "utils/article-meta" . }}
      </footer>
    </article>
  {{ end }}
</div>
