{{ define "article-main" }}
  {{ $hasHeroImage := .Params.heroImage | not | not }}

  <div class="container-out">
    <div class="container-mid">
      <div class="container-in prose-defaults prose md:prose-lg lg:prose-xl">
        <div class="{{ cond $hasHeroImage "lg:mr-80 lg:pr-8" "" }}">
          {{ .Content }}

          {{/* partial "utils/subscribe" . */}}
        </div>
      </div>

      <div class="container-in pt-10">
        <hr class="border-stone-200/50 pb-10 dark:border-stone-700/50" />

        <h2
          class="pb-6 text-2xl font-bold text-stone-900 dark:text-stone-100 md:text-3xl lg:pb-10 lg:text-4xl"
        >
          Latest blog posts
        </h2>

        {{ partial "article-list" (partial "utils/articles-latest" .) }}
      </div>
    </div>
  </div>
{{ end }}
