{{ $href := .href }}
{{ $label := .label }}
{{ $icon := .icon }}
{{ $iconDimensions := .iconDimensions }}
{{ $suffix := delimit (first 7 (shuffle (split (md5 $label) ""))) "" }}

<a
  aria-labelledby="social-label-{{ $suffix }}"
  rel="me noreferrer"
  target="_blank"
  href="{{ $href }}"
  class="group inline-flex p-2"
>
  <svg
    aria-hidden="true"
    viewBox="0 0 {{ $iconDimensions }}"
    class="h-6 w-6 fill-stone-600 group-hocus:fill-pink-600 dark:fill-stone-400 dark:group-hocus:fill-pink-400"
  >
    <title id="social-label-{{ $suffix }}">{{ $label }}</title>
    {{ partial "utils/sprite" (dict "name" $icon) }}
  </svg>
</a>
