{{ $config := site.Config.Privacy.YouTube }}
{{ if not $config.Disable }}
  {{ $host := cond $config.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" }}
  {{ $id := .Get "id" | default (.Get 0) }}
  {{ $autoplay := cond (eq (.Get "autoplay") "true") "1" "0" }}
  {{ $title := .Get "title" | default "YouTube video" }}

  <iframe
    title="{{ $title }}"
    src="https://{{ $host }}/embed/{{ $id }}?autoplay={{ $autoplay }}"
    allow="autoplay; fullscreen"
    credentialless
    loading="lazy"
    class="dark:brightness-80 dark:contrast-120 my-8 aspect-video w-full rounded-lg md:rounded-xl lg:rounded-2xl"
  ></iframe>
{{ end }}
